{% extends 'base.html.twig' %}

{% block title %}Les auteur(e)s{% endblock %}

{% block body %}
<div class="container mt-1">
    <h1>Les auteur(e)s référencé(e)s</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Prénom</th>
                <th>Naissance</th>
                <th>Mort</th>
                <th>Introduction</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                {# <td>{{ author.id }}</td> #}
                <td>{{ author.lastName }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.birthYear }}</td>
                <td>{{ author.deathYear }}</td>
                <td>{{ author.summary }}</td>
                <td>{{ author.content }}</td>
                <td>
                    <a href="{{ path('author_show', {'slug': author.slug}) }}">détails</a>
                    <a href="{{ path('author_edit', {'slug': author.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">.. Aucun(e) auteur(e) référencé(e) :-(</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type ="button" class="btn btn-info" href="{{ path('author_new') }}">Ajouter un(e) auteur(e)</a>
</div>
{% endblock %}
