{% extends 'base.html.twig' %}

{% block title %}book.slug{% endblock %}

{% block body %}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-4">
			<h1>{{ book.title}}</h1>
			<h3>écrit par {{ book.author.firstName ~' '~ book.author.lastName }}, publié en {{ book.publishedYear }}</h3>
			<p>{{ book.summary }}</p>

			<a href="{{ path('book_index') }}">back to list</a>

			<a href="{{ path('book_edit', {'slug': book.slug}) }}">edit</a>

			{{ include('book/_delete_form.html.twig') }}
		</div>
		<div class="col-md-8">
			{% for paragraph in book.bookParagraphs %}

				{% for sentence in paragraph.sentences %}
					<p>{{ sentence.content }}</p>
				{% endfor %}

			{% endfor %}
		
		</div>

	</div>
</div>
{% endblock %}
